<div>
    <h1>Here is Index</h1>
    <a href="majan">
        <div>
            麻雀
        </div>
    </a>

    <a href="syogi">
        <div>
            将棋
        </div>
    </a>

    <a href="osero">
        <div>
            オセロ
        </div>
    </a>

    <a href="tranp">
        <div>
            トランプ
        </div>
    </a>

    <a href="gungi">
        <div>
            グンギ
        </div>
    </a>
</div>