<link rel="stylesheet" href="../public/sample.css">

<div>
    <h1>カテゴリ選択</h1>


    <a href="麻雀">
        <div class="btn--orange">
            麻雀
        </div>
    </a>

    <a href="将棋">
        <div class="btn--orange">
            将棋
        </div>
    </a>

    <a href="オセロ">
        <div class="btn--orange">
            オセロ
        </div>
    </a>

    <a href="トランプ">
        <div class="btn--orange">
            トランプ
        </div>
    </a>

    <a href="グンギ">
        <div class="btn--orange">
            グンギ
        </div>
    </a>
</div>