<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/sample.css">
    <title>期末テスt</title>
</head>

<body>
<a href="/">ホームに戻る</a>
    <div>
        <h1 class="title">掲示板</h1>
    </div>
    <div class="container">
        <%- body %>
    </div>

</body>
</html>