<div>
    <form action="/<%= category %>/<%= thread %>/create" method="POST">
        <textarea type="text" name ="message" placeholder ="Message" autofocus></textarea><br/>
        <input type="text" name="user" placeholder="User" value="taiga"><br/>
        <button type="submit">作成</button>
    </form>
</div>