<% if (loggedIn) { %>
<div>
    <form action="/<%= category %>/<%= thread %>/create" method="POST">
        <textarea type="text" name ="message" placeholder ="Message" autofocus></textarea><br/>
        <input type="hidden" name="user" placeholder="User" value="<%= currentUser.viewName%>"><br/>
        <button type="submit">作成</button>
    </form>
</div>
<% } %>