
<div>
    <form action="/<%= category %>/create" method="POST">
        <input type = "text" name ="title" placeholder ="タイトル" autofocus><br/>
        <input type="hidden" name="category" placeholder="Category" value="<%= category %>"><br/>
        <button type="submit">作成</button>
    </form>
</div>