<div>

    <h1>test</h1>
    <a href="./<%= thread %>/new">new</a>
    <% letters.forEach( ( message, i) => { %>
        <div>

            <p><%= i %>　　<%= message.userName %></p>
            <h3><%= message.message %></h3>
        </div>

    <% }) %>

</div>