h1 {
    font-size: 50px;
}
body {
    text-align: center;
}
h1.title{
    background: coral;
}

a {
    text-decoration: none;
}

/*------*/
a.btn--orange,
.btn--orange {
    color: #fff;
    background-color: #eb6100;
    margin-bottom: 8px;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
}
a.btn--orange,
.btn--orange:hover {
    color: #fff;
    background: #f56500;
}
/*-----*/

.btn--bule a,
.btn--bule {
    margin: 10px auto;
    width: 400px;

    background-color: blue;
    margin-bottom: 8px;
    font-size: 40px;
    border-radius: 10px 10px 10px 10px;
}
a.btn--bule,
.btn--bule:hover {
    color: #fff;
}
.btn--bule h3 {
    color: white;
}

form input {
    font-size: 50px;
    width: 300px;
    height: auto;
}